* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-image: url("../images/Krümel2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.header {
  padding: 24px;
}

.header-title {
  min-height: 50px;
  text-align: center;
}

.header-title img {
  height: auto;
  width: 40%;
}

.menu {
  background-color: rgba(35, 56, 191, 0.716);
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 16px;
}

.menu-item {
  border-radius: 8px;
  color: whitesmoke;
  font-weight: 500;
  min-width: fit-content;
  padding: inherit;
  text-decoration: none;
  transition: background-color 0.4s;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.2px;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-item.active {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.6;
  padding: 24px;
}

.description-container {
  backdrop-filter: blur(8px);
  border-radius: 12px;
  height: auto;
  padding: 16px;
  width: 100%;
}

.description-title {
  color: rgb(35, 55, 191);
  font-size: calc(1rem + 2vh);
  margin: 0;
  text-align: center;
}

.description-main {
  color: white;
  text-align: center;
}

.cookies {
  border-radius: 12px;
  min-height: 250px;
  padding: 8px;
}

.cookies img {
  border-radius: 10px;
  display: block;
  height: auto;
  margin: auto;
  margin-bottom: 8px;
  width: 80%;
}

.container-blur {
  backdrop-filter: blur(9px);
  border-radius: 12px;
  padding: 8px;
}

.cookie-title {
  color: rgb(35, 55, 191);
  margin: 8px;
  text-align: center;
}

.cookie-description {
  color: white;
  margin-top: 0;
  text-align: center;
}

.footer {
  background-color: rgba(35, 56, 191, 0.715);
  color: whitesmoke;
  padding: 16px;
  text-align: center;
}

@media screen and (min-width: 769px) {

  body {
    background-image: url("../images/back-ground2.png");
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    margin: 0;
  }

  .description-title {
    color: rgba(245, 245, 245, 0.855);
    font-size: 3rem;
  }

  .description-main {
    color: whitesmoke;
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: center;
    padding: 24px;
  }

  .header-title img {
    width: 55%;
    height: auto;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container-blur {
    backdrop-filter: blur(9px);
    border-radius: 12px;
    max-width: 70%;
    padding: 12px;
  }

  .description-container {
    max-width: 55%;
  }

  .cookies {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
  }

  .cookies img {
    border-radius: 10px;
    height: auto;
    margin: auto;
    margin-bottom: 8px;
    width: 50%;
  }

  .footer {
    background-color: transparent;
  }

  .menu {
    padding: 20px;
    gap: 32px;
  }

  .menu-item {
    padding: 16px 32px;
    font-size: 1.1rem;
  }
}